ControlPanel/Service References/TurnService1/turn.server.control.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://officesip.com/turn.server.control" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://officesip.com/turn.server.control" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://officesip.com/turn.server.control/Imports">
      <xsd:import namespace="http://officesip.com/turn.server.control" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfTurnService_GetConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfiguration" />
  </wsdl:message>
  <wsdl:message name="IWcfTurnService_GetConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfTurnService_SetConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:SetConfiguration" />
  </wsdl:message>
  <wsdl:message name="IWcfTurnService_SetConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetConfigurationResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfTurnService">
    <wsdl:operation name="GetConfiguration">
      <wsdl:input wsaw:Action="http://officesip.com/turn.server.control/IWcfTurnService/GetConfiguration" message="tns:IWcfTurnService_GetConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://officesip.com/turn.server.control/IWcfTurnService/GetConfigurationResponse" message="tns:IWcfTurnService_GetConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetConfiguration">
      <wsdl:input wsaw:Action="http://officesip.com/turn.server.control/IWcfTurnService/SetConfiguration" message="tns:IWcfTurnService_SetConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://officesip.com/turn.server.control/IWcfTurnService/SetConfigurationResponse" message="tns:IWcfTurnService_SetConfiguration_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>