ControlPanel/Service References/Service1/System.Net.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Net" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="IPEndPoint">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EndPoint">
        <xs:sequence>
          <xs:element name="m_Address" nillable="true" type="tns:IPAddress" />
          <xs:element name="m_Port" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IPEndPoint" nillable="true" type="tns:IPEndPoint" />
  <xs:complexType name="EndPoint">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EndPoint" nillable="true" type="tns:EndPoint" />
  <xs:complexType name="IPAddress">
    <xs:sequence>
      <xs:element name="m_Address" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net.Sockets" name="m_Family" type="q1:AddressFamily" />
      <xs:element name="m_HashCode" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="m_Numbers" nillable="true" type="q2:ArrayOfunsignedShort" />
      <xs:element name="m_ScopeId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IPAddress" nillable="true" type="tns:IPAddress" />
</xs:schema>